{% extends 'layouts/base.html' %}
{% block content %}
    
    <section class="main">
        <div class="container card-box">
            {% if pokemon['sprite'] %}
            <img src="{{ pokemon['sprite'] }}" alt="sprite">
            {% else %}
            <img src="{{ url_for('static', filename='assets/Pokeball.svg') }}" alt="sprite">
            {% endif %}
            <p id="name">{{ pokemon['name'].replace('-', ' ') }}</p>
            <p id="types">
                {% for type in pokemon["types"] %}
                    <span class="badge {{ type }}">{{ type }}</span>
                {% endfor %}
            </p>
            <div class="info">
                {% for info in pokemon['info'] %}
                    <div class="box">
                        <p class="type">{{ info }}</p>
                        <p class="value">{{ pokemon['info'][info] }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="stats">
                {% for stat in pokemon['stats']  %}
                    <div class="box">
                        <div class="label">
                            <p>Type</p>
                            <p>{{ pokemon['stats'][stat] }}</p>
                        </div>
                        <progress value="{{ pokemon['stats'][stat] }}" max="100" class="progress"></progress>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ url_for('index') }}" class="button">Back</a>
        </div>
    </section>

{% endblock %}