<div class="container card-box">
    {% if pokemon['sprite'] %}
    <img src="{{ pokemon['sprite'] }}" alt="sprite">
    {% else %}
    <img src="{{ url_for('static', filename='assets/Pokeball.svg') }}" alt="sprite">
    {% endif %}
    <p id="name">{{ pokemon['name'].replace('-', ' ') }}</p>
    <p id="types">
        {% for type in pokemon["types"] %}
            <span class="badge {{ type }}">{{ type }}</span>
        {% endfor %}
    </p>
    <div class="info">
        {% for info in pokemon['info'] %}
            <div class="box">
                <p class="type">{{ info }}</p>
                <p class="value">{{ pokemon['info'][info] }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('stats', pokemon=pokemon['name']) }}" class="button">More</a>
</div>