<div class="container card-box">
    {% if pokemon['sprite'] %}
    <img src="{{ pokemon['sprite'] }}" alt="sprite">
    {% else %}
    <img src="{{ url_for('static', filename='assets/Pokeball.svg') }}" alt="sprite">
    {% endif %}
    <p id="name">{{ pokemon['name'] }}</p>
    <p id="types">
        {% for type in pokemon["types"] %}
            <span class="badge {{ type }}">{{ type }}</span>
        {% endfor %}
    </p>
    <div class="stats">
        <div class="box">
            <p class="type">ID</p>
            <p class="value">#{{ pokemon['id'] }}</p>
        </div>
        <div class="box">
            <p class="type">Exp</p>
            <p class="value">{{ pokemon['base_exp'] }}</p>
        </div>
        <div class="box">
            <p class="type">Height</p>
            <p class="value">{{ pokemon['height'] }}"</p>
        </div>
        <div class="box">
            <p class="type">Weight</p>
            <p class="value">{{ pokemon['weight'] }}kg</p>
        </div>
    </div>
</div>