@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font: "Outfit",sans-serif;

$white: hsl(0, 0%, 100%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black: hsl(0, 0%, 4%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    font-size: 1rem;
    background-color: $white-ter;
    color: $grey-darker;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
        width: 20em;
        background-color: $white;
        padding: 2em;
        margin: 0.75em;
        border-radius: 1em;
        box-shadow: 0em 0em 0.5em 0.15em rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search-box {

        img {
            width: 12em;
            margin-bottom: 1.25em;

            transition: all 300ms;
            &:hover {
                transform: scale(0.95);
            }
        }

        form {

            input {
                width: 12em;
                height: 2em;
                font-size: 1rem;
                font-family: $font;
                outline: none;
                border: none;
                border-bottom: 2px solid $grey-lighter;

                transition: all 300ms;
                &:hover, &:focus {
                    border-bottom: 2px solid $grey-light;
                }
            }
            
            button {
                width: 2em;
                height: 2em;
                outline: none;
                border: none;
                background-color: $white;
                color: $grey;

                transition: all 300ms;
                &:hover, &:focus {
                    color: $grey-dark;
                }
            }
        }
    }

    .card-box {

        img {
            width: 8em;
            height: 8em;

            transition: all 300ms;
            &:hover {
                transform: scale(1.05);
            }
        }

        #name {
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: capitalize;
            margin: 0.5em;
        }

        #types {
            text-transform: capitalize;
            margin: 0.5em;
        }

        .stats {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .column {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &:last-child {
                    align-items: flex-end;
                    p {
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.badge {
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-weight: 600;

    &.normal {
        background-color: #75515b;
        color: $white;
    }

    &.bug {
        background-color: #1c4b27;
        color: $white;
    }

    &.dark {
        background-color: #040706;
        color: $white;
    }

    &.dragon {
        background-color: #448b95;
        color: $white;
    }

    &.fairy {
        background-color: #971944;
        color: $white;
    }

    &.fighting {
        background-color: #994025;
        color: $white;
    }

    &.fire {
        background-color: #fd4c5a;
        color: $white;
    }

    &.flying {
        background-color: #4a677d;
        color: $white;
    }

    &.ground {
        background-color: #a9702c;
        color: $white;
    }

    &.ice {
        background-color: #86d2f4;
        color: $white;
    }

    &.electric {
        background-color: #e3e32b;
        color: $grey-dark;
    }

    &.ghost {
        background-color: #906790;
        color: $white;
    }

    &.poison {
        background-color: #9b69d9;
        color: $white;
    }

    &.grass {
        background-color: #27cb4f;
        color: $white;
    }

    &.psycho {
        background-color: #a42a6c;
        color: $white;
    }

    &.rock {
        background-color: #8b3e21;
        color: $white;
    }

    &.steel {
        background-color: #42bd94;
        color: $white;
    }

    &.water {
        background-color: #86a8fc;
        color: $white;
    }
}