@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: 'Outfit', sans-serif;

$primary: hsl(171, 100%, 41%);
$link: hsl(217, 71%, 53%);
$info: hsl(204, 86%, 53%);
$success: hsl(141, 53%, 53%);
$warning: hsl(48, 100%, 67%);
$danger: hsl(348, 100%, 61%);

$white: hsl(0, 0%, 100%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black: hsl(0, 0%, 4%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    color: $grey-darker;
    padding: 1em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
        img {
            margin-right: 4em;
            width: 8em;
        }
    }

    .button {
        position: absolute;
        bottom: 1em;
        right: 1em;
        height: 3em;
        padding: 0 1em;
        background-color: $link;
        border: none;
        outline: none;
        font-family: $font;
        color: $white;

        transition: all 300ms;

        &:hover {
            background-color: $info;
        }
    }
}